[submodule "EventStore.Streaming"]
 	path = submodules/EventStore.Streaming
 	url = https://github.com/EventStore/EventStore-Streaming
 	branch = main
 [submodule "EventStore"]
 	path = submodules/EventStore
 	url = https://github.com/EventStore/EventStore
 	branch = origin/clustervnode-hosted-service-refactor
[submodule "submodules/EventStore"]
	path = submodules/EventStore
	url = https://github.com/EventStore/EventStore
[submodule "submodules/EventStore.Streaming"]
	path = submodules/EventStore.Streaming
	url = https://github.com/EventStore/EventStore-Streaming
